* {
  margin: 0;
  padding: 0;
}
.cover {
  height: 23vh;
  padding: 1%;
  background-color: #ff00ff00;
  transition: 1s;
  border-radius: 0.5vw;
}
.cover:hover {
  filter: drop-shadow(0 0 0.5vw #000) drop-shadow(0 0 1vw #000) drop-shadow(0 0 5vw #000);
  transform: scale(1.05, 1.05);
}
.coverLink {
  transition: transform 0.2s;
  z-index: 1;
}
.coverLink:hover {
  transform: scale(1.2, 1.2);
  z-index: 2;
}
.cdParent {
  display: flex;
  justify-content: center;
  height: 100%;
}
.cdMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
