@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
}
::-webkit-scrollbar {
  display: none;
}
.bg {
  background-color: #502424;
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
p {
  font-family: Merriweather, serif;
  font-size: 3vw;
  padding: 1% 0 0 2%;
}
a {
  font-family: Merriweather, serif;
  font-size: 2vw;
  color: #bef7ff;
  width: fit-content;
}
.links {
  display: flex;
  flex-direction: column;
  padding: 0% 2%;
}
.links a {
  padding: 0.5% 0;
  transition: 0.3s;
}
.links a:nth-child(even) {
  padding: 0.5% 0;
}
.links a:nth-child(odd) {
  padding: 0.5% 2%;
}
.whoooleThing {
  height: 100vh;
}
.gradient {
  background: linear-gradient(#00000000, #000000ee);
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
  z-index: -1;
}
.segment {
  background-color: #000;
  width: 100%;
  height: 100vh;
}
.guy {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 22%;
  filter:drop-shadow(0 0 0.02vw #fff);
}
.segment p {
  font-size:2vw;
  bottom:0;
}
.midText {
  opacity:0.05;
  filter:drop-shadow(0 0 0.1vw #fff);
  user-select:none;
}